/* The @import rule  used to import one style sheet into another style sheet. */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(200, 147, 68);

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;

}

/* grouping selector - is used to select multiple elements and style them together. */
input,
textarea {
    width: 350px;
    padding: 8px;
    border: 2px solid rgb(206, 120, 111);
    border-radius: 5px;
    margin: -11px;
    font-family: 'Roboto', sans-serif;
}

button {
    width: 370px;
    background-color: bisque;
    border: 2px solid black;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px;
    margin: -11px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}