/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');

/* universal selector */
* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

/* navbar */
nav {
    background-color: #172D13;
    align-content: center;
    text-align: center;
}

/* toggle button */
.toggle {
    background: linear-gradient(#D76F30, #6BB77B);
    -webkit-text-fill-color: transparent;
    padding: 2px 8px;
    border: 2px solid #6BB77B;
}

.toggle:focus{
    outline: none;
    box-shadow: none;
}

/* logo text */
.logoTitle {
    background: linear-gradient(#D76F30, #6BB77B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-family: 'Ruthie', cursive;
    font-size: 32px !important;
    font-weight: bolder;
}
/* search bar */
input.form-control{
border-radius: 12px 0 0 0;
}

/* search button */
.btnMid {
    background: linear-gradient(#D76F30, #6BB77B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-left: none;
    font-weight: bold;
    border-radius: 0 0 12px 0 !important;
}

.btnMid:hover{
    border: 1px solid #6BB77B !important; 
}

/* login button */
.login {
    background: linear-gradient(#D76F30, #6BB77B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    border-radius: 8px;
    border-radius: 12px 0 12px 0 !important;
}

.login:hover{
    border: 1px solid #6BB77B !important;  
}

/* cart icon*/
.cartBox {
    background: linear-gradient(#D76F30, #6BB77B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/* navtab code */
.navtab{
    background-color: #6BB77B;

}

a.nav-link:hover{
    color: #fff;
}

/* dropdown menu and item*/
a.dropdown-item, ul.dropdown-menu{
    background-color: #6BB77B;
}

/* dropdown item*/
a.dropdown-item:hover{
    background-color: #fff;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #051622;
}
@media (min-width: 768px) {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
}