/* google font */
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/* universal tag */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body  */
body {
    background-color: #6bb77c17 !important;
}

/* home page image */
.thumbnail {
    position: relative;
    text-align: center;
    display: inline-block;
}

.thumbnail img {
    display: block;
    width: 100vw;
    max-width: 100%;
    height: 55vh;
}

/* logo and slogan */
.slogan {
    font-family: 'Ruthie', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* logo/title */
.slogan .imgTitle {
    background: -webkit-linear-gradient(#D76F30, #6BB77B);
    /* applied the linear-gradient effect to the <p> tag. */
    /* the WebKit properties, the first property -webkit-background-clip: text; will turn the whole gradient-background transparent, and the second property -webkit-text-fill-color: transparent; will fill the <p> tag text with the gradient background. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* for shadow */
    filter: drop-shadow(4px 3px 3px #051622);
    font-size: 80px;
    font-weight: 900;
    margin-bottom: -10px;
}

/* slogan */
.slogan .imgSlogan {
    color: #D76F30;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Syne Mono', monospace;
    text-shadow: 4px 3px 3px #051622;
}

/* heading */
.heading {
    color: #051622;
    font-size: 48px;
    text-shadow: 4px 2px 6px #051622;
}

/* cards */
.card {
    height: 300px;
    width: 16rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 3px;
}

.card .card-img-top {
    height: 200px;
    border: 2px solid #172D13 !important;
    border-radius: 20px 4px;
}

/* cart button */
.card .btnCart {
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #051622;
    color: #051622;
    border-radius: 12px 0;
}

.card .btnCart:hover {
    border: 1px solid #172D13;
}

/* cart icon */
.cart {
    background: linear-gradient(#D76F30, #172D13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 1px #051622);
}

/* carousel arrow */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(216deg) brightness(100%) contrast(100%);
}

/* An iPad Pro, iPad Air and Nest Hub via the Chrome developer tools */
/* ipad Pro Portrait*/
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .card {
        width: 14rem;
    }
}

/* Nest Hub Portrait */
@media screen and (max-width:1024px) and (-webkit-min-device-pixel-ratio:0) {
    .card {
        width: 14rem;
    }

    .thumbnail img {
        height: 55vh;
    }
}

/* iPad Air Horizontal */
@media screen and (max-width:1180px) and (-webkit-min-device-pixel-ratio:0) {
    .card {
        width: 14rem;
    }
}